.Container {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#2b2d42;
}

.form
{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color:#8d99ae;
  padding: 10%;
}

.inputblock
{
  padding: 10px;
}
.input
{
padding: 10px;
border: none;
background-color: rgb(185, 169, 169);
border-color: transparent;
outline: none;
}

.label
{
  text-align: start;
}

.button
{
  margin-top: 10px;
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  background-color: #3e5692;
}

.listcontainer
{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color:#8d99ae;
  min-width: 35%;
  min-height:40vh;
}

.listtoolbar
{
  background-color: #8d99ae;
  padding: 2%;
}

.search
{
  background-color: #a3b4d1;
  float: left;
  margin-left: 5%;
  padding: 1%;
  border-style: solid;
  border-radius: 5px;
}

.new
{
  background-color: #6778a5;
  float: right;
  margin-right: 5%;
  border-radius: 5px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-style: solid;

}


.listcomponentContainer
{
  justify-content: center;
  padding: 30px;
}

.listcomponent
{
  width: auto;
  background-color: #8d99ae;
  margin: 10px;
  padding-bottom: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;

}

.todotext
{
  float: left;
}

.logout
{
  align-self: flex-end;
  padding: 5px;
  margin: 10px;
  background-color: #6778a5;
  border-radius: 5px;
  border-style: solid;
}


.add
{
  background-color: #a3b4d1;
  float: left;
  margin-left: 5%;
  padding: 1%;
  border-style: solid;
  border-radius: 5px;
}

.save
{
  background-color: #6778a5;
  float: right;
  margin-right: 5%;
  border-radius: 5px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-style: solid;

}


.invalidText
{
  font-size: small;
  color: red;
}

.iconContainer
{
  width: fit-content;
  background-color: rgb(185, 169, 169);
  border-style: solid;
  border-width: 2px;
  border-color:black;
  border-radius: 3px;
}
.icon{
  padding: 5px;
}
.listicon
{
  float: right;
}

.listbutton
{
  float:right;
  background-color: transparent;
  border: none;
  outline: none;
  justify-content: end;

}

.edittext
{
  background-color: #8d99ae;
  padding: 10px;
  border: none;
  border-color: transparent;
  outline: none;  

}

.listbuttonContainer
{
  float: right;
  padding: 10px;
}